xin-uploader progress {
  display: none;
}

xin-uploader #uploaderDropzone {
  padding: 10px;
  border: 1px dashed #999;
  text-align: center;
  width: 100%;
  font-size: 1rem;
  margin-bottom: 10px;
}

xin-uploader #uploaderFile {
  display: none;
}

xin-uploader .uploader-file {
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #999;
  box-sizing: border-box;
  position: relative;
}

xin-uploader .uploader-file progress {
  width: 100%;
}

xin-uploader .uploader-file--uploading progress {
  display: block;
}

xin-uploader .uploader-file__close {
  border: none;
  float: right;
  font-size: 1rem;
}
